<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <!--arguments="-argFile IISExeLauncherArgs.txt" -->
    <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" 
                stdoutLogEnabled="true" />
  </system.webServer>
</configuration>